title: My Site
timezone: Asia/Tokyo
#markdown: kramdown

#kramdown:
#  input: GFM
#  syntax_highlighter: rouge

lsi: false
safe: true
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
  
exclude:
  - README.md
